body{
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover;
	font-family: georgia;
	color: black;
	font-size: 12pt;
}

A:link { text-decoration: none; font-weight:bold; color:#003366; }
A:visited { text-decoration: none; font-weight:bold; color:#003366; }
A:hover { text-decoration: none; font-weight:bold; color:#0066cc; }
